{% extends 'layout.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="username">Username</label>
            {{ form.username(class="form-control") }}
        </div>
        <div>
            <label for="password">Password</label>
            {{ form.password(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
{% endblock %}
